---
import type { HTMLAttributes } from "astro/types";
import "@geensnor/tokens";

interface Props extends HTMLAttributes<"li"> {}

const { ...rest } = Astro.props as Props;
---

<li {...rest}><slot /></li>

<style>
  li {
    font-family: var(--geensnor-font-family);
    font-size: var(--geensnor-font-size-m);
    margin: 0;
    margin-bottom: 5px;
    line-height: var(--geensnor-line-height);
    padding: 0 0 0 35px;
    list-style: none;
    background-image: url("../../assets/de-snor.svg");
    background-repeat: no-repeat;
    background-position: left 12px;
    background-size: 27px;
  }
</style>
