---
type Props = {
  titel: string;
  Type: string;
};

const { titel, Type } = Astro.props as Props;
---

<style>
  /* roboto-slab-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-slab-v33-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Roboto Slab", serif;
  }
  h2,
  h3,
  h4 {
    color: rgb(234 88 12);
  }

  h1 > a > span,
  h1 > span {
    background-color: black;
    padding: 0.5rem;
    color: #fff;
    line-height: 1.4em;
  }

  h1 > a:hover {
    text-decoration: none;
  }
</style>
<Type><span>{titel}</span></Type>
