---
type Props = {
  id?: string;
};

const { id } = Astro.props as Props;
---

<div id={id}>
  <slot />
</div>

<style>
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/work-sans-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  div {
    font-family: "Work Sans", sans;
    padding: 10px;
    background-color: rgb(248, 250, 252);
    border-color: rgb(209, 213, 219);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    box-shadow:
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  }
</style>
